<div class="well span4 offset4">
<font color="#777">create new app</font><br>
<form action="/site/upload" enctype="multipart/form-data" method="post"> 
<input type="hidden" name="username" value="<%= @username %>" /><br>
<input type="text" name="name" placeholder="name of your app" style="height:30px;"><br>
<br>
<a onclick="showDatabaseForm()" id="cursordb" style="cursor:pointer">use database?</a>
<br>
<span id="databaseform" style="display: none">
<input type="text" name="database_name" placeholder="database name" style="height:30px;"><br>
<input type="text" name="database_username" placeholder="database username" style="height:30px;"><br>
<input type="text" name="databasepwd" placeholder="database password" style="height:30px;"><br>
</span>
<br>
<input type="submit" class="btn-primary btn-large"> 
</form>

</div>

<div class="span4 offset4">
<% if @apps %>
    <% @apps.each do |app| %>
    <p><a href="">* <%= app.name %></a> </p>
    <% end %>
<% end %>
    
</div>

<script type="text/javascript" charset="utf-8">
    function showDatabaseForm(){
        document.getElementById("databaseform").style.display="block";
        document.getElementById("cursordb").style.display="none";
    }

    function langsupport(){
        document.getElementById("langsupport").style.display="block";
        document.getElementById("langsupport?").style.display="none";
    }
    
    function showDatabase(){
        document.getElementById("databaseHelp").style.display="block";
        document.getElementById("database?").style.display="none";
    }
    
    
</script>