<div class="alert">
    <% if flash[:login] %>
        <%= flash[:login] %>
    <% end %>
</div>
<div class="well span3 offset4">

<form action="/user/login" method="post">
    <input type="text" name="username" placeholder="username" style="height: 35px" /><br>
    <input type="password" name="pwd" placeholder="password" style="height: 35px"/><br>
    <input type="submit" class="btn btn-primary btn-large" value="login" />
</form>


<br><br><br><br>

<font color="#777">or, you can just login as

<form action="/user/login" method="post">
    <input type="hidden" name="username" value="guest" /><br>
    <input type="hidden" name="pwd" value="guest" /><br>
    <input type="submit" class="btn btn-primary btn-large" value="Guest" />
</form>

to try out our feature
</font>
</div>


