    <% if flash[:register] %>
    <div class="alert">
        <%= flash[:register] %>
    </div>
    <% end %>

<div class="well span4 offset4">

<form action="/user/register" method="post">
    <input type="text" name="username" placeholder="username" style="height: 35px" /><br>
    <input type="password" name="pwd" placeholder="password" style="height: 35px"/><br>
    <input type="password" name="pwdconf" placeholder="confirm password" style="height: 35px"/><br>
    <input type="text" name="email" placeholder="username" style="height: 35px" /><br>
    <input type="submit" class="btn btn-primary btn-large" value="Submit" />
</form>

</div>
