<a href="/list">back</a>
<br><br><br>

<form action="/site/githubnew" method="post" accept-charset="utf-8">
    

<input type="text" name="apps_name" placeholder="your apps name">
<br>
<input type="text" name="githubname" placeholder="your github name"><br>
<input type="text" name="githubrepo" placeholder="your github project name"><br>
<p><input type="submit" value="Save" class="btn btn-large btn-primary"></p>
</form>
