<br><br><br>

<form action="/site/githubnew" method="post" accept-charset="utf-8">
    

<input type="text" name="apps_name" style="height: 35px; width: 250px;" placeholder="your apps name">
<select>
<% @apps.each do |a| %>
    <option value="<%= a.name %>"><%= a.name %></option>
<% end %>
</select>
<br>
<input type="text" name="githubname" style="height: 35px; width: 250px;" placeholder="your github name"><br>
<input type="text" name="githubrepo" style="height: 35px; width: 250px;" placeholder="your github project name"><br>
<p><input type="submit" value="Save" class="btn btn-large btn-primary"></p>
</form>

