<br><br><br>

<form action="/site/gitnew" method="post" accept-charset="utf-8">
    
<input type="text" name="user_name" style="height:30px; width: 200px;" placeholder="your name">
<br>
<textarea name="key" rows="8" cols="70" class="span6"></textarea>
<br>
<p><input type="submit" value="Save Public Key" class="btn btn-large btn-primary"></p>
</form>
