    <div id="name" class="row-fluid">
<style>
   .input-specialsize1{
       height:30px !important;
       font-size:15px !important;
       width:300px;
    }
    .button-specialsize1{
        height:50px !important;
        font-size:20px !important;
        width: 300px;
    }
</style>
<div id="name" class="span12">
<center>
<h1 style="font: arial; color: blue; margin: 40px 0 0 0;">Cloud Web Development Framework</h1>
<h2 style="font: arial; color: grey; margin: 10px;">Web Applications Done Right</h2>
<br><br>
</center>
  
<div id="name" class="well row-fluid">
<div id="name" class="span5">
     

<div class="offset1">
    <div style="height: 150px"></div>
        <!--<a href="/user/login"><button class="btn btn-large btn-primary" style="width: 180px; height: 60px">Get Started Now</button></a> -->
        <form>
          <fieldset>
            <input class="input-specialsize1" type="text" placeholder="User Name"/>      
            <input class="input-specialsize1" type="password"  placeholder="Password"/>          
            <input class="input-specialsize1" type="password" placeholder="Confirm Password"/>
            <input class="input-specialsize1" type="text" placeholder="Email"/></br>
            <button type="submit" class="btn btn-primary button-specialsize1">Sign Up</button>
          </fieldset>
        </form>
    <div style="height: 70px"></div>
    <a href="http://git-scm.com/downloads" target="_blank"><div class="btn btn-success">Download Git</div></a>
    
</div>   
    
</div>   

 <div id="name" class="span6 hidden-phone">
<!--     
<iframe src="http://player.vimeo.com/video/31231497" width="110%" height="353" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
-->
<iframe width="110%" height="353" src="http://www.youtube.com/embed/iwYKX9H8UcI" frameborder="0" allowfullscreen></iframe>
 </div>

</div>


<div style="clear:both"></div>
<br><br>
<!--
 <span id="langsupport?" style="cursor:pointer" onClick="langsupport()"><a>language support?</a></span>
    <span id="langsupport" style="display:none">
        <i style="color:#777">* we would love to host any language of any code</i>
    </span>
<br><br>


<span id="database?"><a onClick="showDatabase()" style="cursor:pointer">how to access database?</a></span>
<div id="databaseHelp" style="display: none; ">
<h3 style="color: grey">How to access your database:</h3><br>
<code>access <a href="http://apps.letspan.com/phpmyadmin">apps.letspan.com/phpmyadmin</a></code><br><br>
<code>use db username, password, and you can create database that you just input</code>
</div>
<br><br>
-->

<span id="github?"><a onClick="showGithub()" style="cursor:pointer">how to integrate with GitHub?</a></span>
<div id="githubHelp" style="display: none">
<h2 id="github"><font color="grey">Integrate with GitHub</font></h2>
<h3 style="color: grey">How you can integrate your project with GitHub:</h3><br>
<code>add collaborators of your project in <a href="http://github.com" target="_blank">Github.com</a>, Add <b>letspan</b></code><br><br>
<code>go to <a href="/site/githubnew"> set GitHub</a> input your apps name, github username, and your github's project</code><br><br>
<code>it's done!</code>
</div>
<br><br>

<span id="git?"><a onClick="showGit()" style="cursor:pointer">how to use Git?</a></span>
<div id="gitHelp" style="display: none">
<h2 id="git"><font color="grey">Deploy with Git</font></h2>
<h3 style="color: grey">How you can deploy your project from your localhost with Git:</h3><br>
<code>you have to import your public key to here first by go to <a href="/site/gitnew">import Key</a> menu</code><br><br>
<code>go to your localhost directory in your computer and type this</code><br><br>
<b>
<code>$ touch letspan.txt</code><br><br>
<code>$ git add .</code><br><br>
<code>$ git commit -m 'push to letspan'</code><br><br>
<code>$ git remote add letspan git@letspan.com:<font color="green">your_apps_name</font>.git</code><br><br>
<code>$ git push letspan master</code>
</b>
<br><br>
</div>


</div>

</div>

<br><br>
<br><br>
<br><br>
<script type="text/javascript" charset="utf-8">

    a=0;
    b=0;
    c=0;
    d=0;
    function langsupport(){
        if(a==1){
            document.getElementById("langsupport").style.display="none";
            a=0;
        }
        else{
            document.getElementById("langsupport").style.display="block";
            a=1;
        }
    }
    
    function showGithub(){
        if(b==1){
            document.getElementById("githubHelp").style.display="none";
            b=0;
        }else{
            document.getElementById("githubHelp").style.display="block";
            b=1;
        }
    }
    
    function showGit(){
        if(c==1){
            document.getElementById("gitHelp").style.display="none";
            c=0;
        }else{
            document.getElementById("gitHelp").style.display="block";
            c=1;
        }
    }
    
    function showDatabase(){
        if(d==1){
            document.getElementById("databaseHelp").style.display="none";
            d=0;
        }else{
            document.getElementById("databaseHelp").style.display="block";
            d=1;
        }
    }
</script>












