<div id="name" class="row">
    
<div id="name" class="span8 offset2">
<center>
<h1>Host your apps. in just a second</h1>
<br><br>
</center>
<div id="name" class="well">

<form action="/site/upload" enctype="multipart/form-data" method="post"> 
<input type="text" name="username" placeholder="your ID [without special character]" style="height:30px;"><br>
<input type="text" name="name" placeholder="name of your app" style="height:30px;"><br>
<input type="text" name="database_name" placeholder="database name" style="height:30px;"><br>
<input type="text" name="database_username" placeholder="database username" style="height:30px;"><br>
<input type="text" name="databasepwd" placeholder="database password" style="height:30px;"><br>
<br>
<input type="submit" class="btn-primary btn-large"> 
</form>



</div>

<br><br>


<h3 style="color: blue">How to access your database in cloud:</h3><br>
<code>access <a href="http://apps.letspan.com/phpmyadmin">apps.letspan.com/phpmyadmin</a></code><br><br>
<code>use your username and password that you just input in this page</code><br><br>
<br><br>


<h3 style="color: blue">List of apps that already hosted:</h3><br>
<code>access <a href="/listapps">List of apps</a></code><br><br>
<br><br>


<h3 style="color: blue">List of source of apps that already hosted:</h3><br>
<code>access <a href="/list">List of sources</a></code><br><br>
<br><br>


<h2 id="github"><font color="green">Integrate with GitHub</font></h2>
<h3 style="color: blue">How you can integrate your project with GitHub:</h3><br>
<code>add collaborators of your project in Github, Add <b>letspan</b></code><br><br>
<code>add lsorigin to your remote alias that point to github by run:</code><br><br>
<code><b>$ git remote add lsorigin git@github.com:<font color="green">yourname</font>/<font color="green">yourproject</font>.git</code></b><br><br>
<br><br>

</div>

</div>
